.movies-card-list__container {
  max-width: 1140px;
}

.movies-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 43px 30px;
}

.movies-card-list__empty-message-header {
  text-align: center;
  margin: 60px auto 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  padding: 0 20px;
}