.movies-card-list__container {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
}

.movies-card-list {
  margin: 0;
  padding: 80px 0 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 43px 30px;
  border-top: 1px solid var(--hr-gray);
}

.movies-card-list__empty-message-header {
  text-align: center;
  margin: 60px auto 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  padding: 0 20px;
}

.movies-card-list__load-button {
  margin-top: 78px;
  width: 100%;
  font-size: 12px;
  background-color: var(--badge-gray);
  height: 36px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color .4s ease-in-out;
}
.movies-card-list__load-button:hover {
background-color: #F2F2F2;
}

@media all and (max-width: 1200px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px;
  }

  .movies-card-list__load-button {
    width: calc(100vw - 60px);
    margin: 50px auto 0;
  }
}

@media all and (max-width: 767px) {
  .movies-card-list {
    grid-template-columns: 1fr;
    margin: 25px 10px 0;
    padding-top: 50px;
  }

    .movies-card-list__load-button {
    width: calc(100vw - 20px);
    margin: 50px auto 0;
  }
}
