.search-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 1140px;
  margin: 70px 0 80px;
  padding: 0 30px 0;
  height: 72px;
  background-color: var(--secondary-gray);
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  align-items: center;
  border-radius: 9px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.search-form__label {
  margin-right: 17px;
}

.search-form__film-input-logo {
  padding-top: 3px;
}

.search-form__film-input {
  border: none;
  height: 40px;
  padding: 0 15px 0 10px;
  margin-right: 20px;
}

.search-form__button {
  border: none;
  background-color: var(--secondary-accent);
  font-size: 11px;
  line-height: 18px;
  padding: 8px 11px;
  color: white;
  border-radius: 48px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.search-form__button:hover {
  /* opacity: .8; */
  filter: saturate(110%);
}

@media all and (max-width: 1200px) {
  .search-form {
    max-width: calc(100% - 60px);
  }
}

@media all and (max-width: 720px) {
  .search-form {
    max-width: calc(100% - 20px);
      grid-template-columns: min-content 1fr min-content;
  }
}

