.about {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 110px 30px;
  margin: 0 40px;
}

/* @media all and (max-width: 1280px) {
  .about {
    width: calc(100% - 100px)
  }
} */